@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);



body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-4 {
  font-family: 'ufonts';
  font-size: 0.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'ufonts';
  font-size: 1rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #41ecc6 !important;
}
.bg-success {
  background-color: #41ecc6 !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #111111 !important;
}
.bg-danger {
  background-color: #042a3b !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #41ecc6 !important;
  border-color: #41ecc6 !important;
  color: #042a21 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #042a21 !important;
  background-color: #14cca3 !important;
  border-color: #14cca3 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #042a21 !important;
  background-color: #14cca3 !important;
  border-color: #14cca3 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e3336c !important;
  border-color: #e3336c !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b1184a !important;
  border-color: #b1184a !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b1184a !important;
  border-color: #b1184a !important;
}
.btn-info,
.btn-info:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #41ecc6 !important;
  border-color: #41ecc6 !important;
  color: #042a21 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #042a21 !important;
  background-color: #14cca3 !important;
  border-color: #14cca3 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #042a21 !important;
  background-color: #14cca3 !important;
  border-color: #14cca3 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #111111 !important;
  border-color: #111111 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #042a3b !important;
  border-color: #042a3b !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #12b591;
  color: #12b591;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #042a21;
  background-color: #41ecc6;
  border-color: #41ecc6;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #042a21 !important;
  background-color: #41ecc6 !important;
  border-color: #41ecc6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #9b1540;
  color: #9b1540;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #e3336c;
  border-color: #e3336c;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e3336c !important;
  border-color: #e3336c !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #12b591;
  color: #12b591;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #042a21;
  background-color: #41ecc6;
  border-color: #41ecc6;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #042a21 !important;
  background-color: #41ecc6 !important;
  border-color: #41ecc6 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #111111;
  border-color: #111111;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #111111 !important;
  border-color: #111111 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #042a3b;
  border-color: #042a3b;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #042a3b !important;
  border-color: #042a3b !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #41ecc6 !important;
}
.text-secondary {
  color: #e3336c !important;
}
.text-success {
  color: #41ecc6 !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #111111 !important;
}
.text-danger {
  color: #042a3b !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #12b591 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #9b1540 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #12b591 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #111111;
}
.alert-danger {
  background-color: #042a3b;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #41ecc6;
  border-color: #41ecc6;
  color: #064134;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #41ecc6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fafffe;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fafffe;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c3c3c3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #33b6f1;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #41ecc6;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #41ecc6;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #41ecc6;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #41ecc6;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #41ecc6;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qXUjNIiyGi .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qXUjNIiyGi .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qXUjNIiyGi a {
  font-style: normal;
}
.cid-qXUjNIiyGi .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qXUjNIiyGi .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qXUjNIiyGi .nav-item:focus,
.cid-qXUjNIiyGi .nav-link:focus {
  outline: none;
}
.cid-qXUjNIiyGi .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qXUjNIiyGi .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qXUjNIiyGi .menu-logo {
  margin-right: auto;
}
.cid-qXUjNIiyGi .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qXUjNIiyGi .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qXUjNIiyGi .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qXUjNIiyGi .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qXUjNIiyGi .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qXUjNIiyGi .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qXUjNIiyGi .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qXUjNIiyGi .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qXUjNIiyGi .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qXUjNIiyGi .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qXUjNIiyGi .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qXUjNIiyGi .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qXUjNIiyGi .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qXUjNIiyGi .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qXUjNIiyGi .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qXUjNIiyGi .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qXUjNIiyGi .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qXUjNIiyGi .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qXUjNIiyGi .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qXUjNIiyGi .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qXUjNIiyGi .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qXUjNIiyGi .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qXUjNIiyGi button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qXUjNIiyGi button.navbar-toggler:focus {
  outline: none;
}
.cid-qXUjNIiyGi button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-qXUjNIiyGi button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qXUjNIiyGi button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qXUjNIiyGi button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qXUjNIiyGi button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qXUjNIiyGi nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qXUjNIiyGi nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qXUjNIiyGi nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qXUjNIiyGi nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qXUjNIiyGi .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qXUjNIiyGi .collapsed .btn {
  display: flex;
}
.cid-qXUjNIiyGi .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qXUjNIiyGi .collapsed .navbar-collapse.collapsing,
.cid-qXUjNIiyGi .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qXUjNIiyGi .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qXUjNIiyGi .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qXUjNIiyGi .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qXUjNIiyGi .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qXUjNIiyGi .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qXUjNIiyGi .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qXUjNIiyGi .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qXUjNIiyGi .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qXUjNIiyGi .collapsed button.navbar-toggler {
  display: block;
}
.cid-qXUjNIiyGi .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qXUjNIiyGi .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qXUjNIiyGi .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qXUjNIiyGi .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qXUjNIiyGi .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qXUjNIiyGi .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qXUjNIiyGi.navbar-expand {
    flex-direction: column;
  }
  .cid-qXUjNIiyGi img {
    height: 3.8rem !important;
  }
  .cid-qXUjNIiyGi .btn {
    display: flex;
  }
  .cid-qXUjNIiyGi button.navbar-toggler {
    display: block;
  }
  .cid-qXUjNIiyGi .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qXUjNIiyGi .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qXUjNIiyGi .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qXUjNIiyGi .navbar-collapse.collapsing,
  .cid-qXUjNIiyGi .navbar-collapse.show {
    display: block !important;
  }
  .cid-qXUjNIiyGi .navbar-collapse.collapsing .navbar-nav,
  .cid-qXUjNIiyGi .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qXUjNIiyGi .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qXUjNIiyGi .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qXUjNIiyGi .navbar-collapse.collapsing .navbar-buttons,
  .cid-qXUjNIiyGi .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qXUjNIiyGi .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qXUjNIiyGi .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qXUjNIiyGi .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qXUjNIiyGi .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qXUjNIiyGi .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qXUjNIiyGi .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qXUjNIiyGi .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qXUjNIiyGi .navbar-collapse {
  flex-basis: auto;
}
.cid-qXUjNIiyGi .nav-link:hover,
.cid-qXUjNIiyGi .dropdown-item:hover {
  color: #767676 !important;
}
.cid-qXUjR4wVJ2 {
  background-image: url("../../../assets/images/mbr-1-1920x1200.jpg");
}
.cid-qXUjR4wVJ2 H3 {
  color: #41ecc6;
}
.cid-qXUjR4wVJ2 .mbr-text,
.cid-qXUjR4wVJ2 .mbr-section-btn B {
  color: #ffffff;
}
.cid-qY8rxZF8Rh {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qY8rxZF8Rh .line {
  background-color: #e3336c;
  color: #e3336c;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qY8rxZF8Rh .section-text {
  padding: 2rem 0;
  text-align: center;
  color: #333333;
}
.cid-qY8rxZF8Rh .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qY8rxZF8Rh .inner-container {
    width: 100% !important;
  }
}
.cid-qY8rxZF8Rh .section-text DIV {
  color: #333333;
}
.cid-qYbZSPh79p {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #f9f9f9;
}
.cid-qYbZSPh79p h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qYbZSPh79p p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-qYbZSPh79p .card-img {
  text-align: left;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  width: auto;
}
.cid-qYbZSPh79p .card-img span {
  font-size: 72px;
  color: #ff3366;
}
.cid-qYbZSPh79p .card-box {
  padding-left: 1rem;
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-qYbZSPh79p .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
  .cid-qYbZSPh79p .card-box {
    padding-left: 0;
  }
}
.cid-qYbZSPh79p .card-title,
.cid-qYbZSPh79p .card-img {
  color: #41ecc6;
  text-align: left;
}
.cid-qYbYsxsgdH {
  padding-top: 0px;
  padding-bottom: 15px;
  background: #ffffff;
}
.cid-qYbYsxsgdH .image-block {
  margin: auto;
}
.cid-qYbYsxsgdH .mbr-figure {
  margin: 0 auto;
}
.cid-qYbYsxsgdH figcaption {
  position: relative;
}
.cid-qYbYsxsgdH figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-qYbYsxsgdH .image-block {
    width: 100% !important;
  }
}
.cid-qY8bu4qrx7 {
  padding-top: 30px;
  padding-bottom: 45px;
  background: linear-gradient(45deg, #41ecc6, #062b3a);
}
.cid-qY8bu4qrx7 .btn {
  margin: 0 0 .5rem 0;
}
.cid-qY8bu4qrx7 H2 {
  color: #41ecc6;
}
.cid-qY5YL5WfEh {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #f9f9f9;
}
.cid-qY5YL5WfEh .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
  text-align: center;
}
.cid-qY5YL5WfEh .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-qY5YL5WfEh .card_cont {
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: #eee;
}
.cid-qY5YL5WfEh .card-front {
  z-index: 2;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cid-qY5YL5WfEh .card-front img {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  max-width: 600px;
}
.cid-qY5YL5WfEh .card_back {
  width: 100%;
  height: 100%;
  padding: 30px 30px;
  color: #ffffff;
  background-color: #062b3a;
  z-index: 1;
  margin: 0;
  text-align: center;
  overflow: hidden;
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.cid-qY5YL5WfEh .card {
  min-height: 300px;
}
.cid-qY5YL5WfEh .card:hover .card-front {
  z-index: 1;
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cid-qY5YL5WfEh .card:hover .card_back {
  z-index: 2;
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cid-qY5YL5WfEh .builderCard .card_back {
  border-bottom-left-radius: 100px;
}
.cid-qY5YL5WfEh .builderCard .card_cont {
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidd;
  -moz-backface-visibility: visible;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.cid-qY5YL5WfEh .mbr-section-title {
  color: #41ecc6;
}
.cid-qY5YL5WfEh H4 {
  color: #41ecc6;
}
.cid-qY5YL5WfEh P {
  text-align: center;
}
.cid-qY8uApgKHA {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f9f9f9;
}
.cid-qY8uApgKHA .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-qY8uApgKHA .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-qY8uApgKHA .card_cont {
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: #eee;
}
.cid-qY8uApgKHA .card-front {
  z-index: 2;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cid-qY8uApgKHA .card-front img {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  max-width: 600px;
}
.cid-qY8uApgKHA .card_back {
  width: 100%;
  height: 100%;
  padding: 30px 30px;
  color: #ffffff;
  background-color: #062b3a;
  z-index: 1;
  margin: 0;
  text-align: center;
  overflow: hidden;
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.cid-qY8uApgKHA .card {
  min-height: 300px;
}
.cid-qY8uApgKHA .card:hover .card-front {
  z-index: 1;
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cid-qY8uApgKHA .card:hover .card_back {
  z-index: 2;
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cid-qY8uApgKHA .builderCard .card_back {
  border-bottom-left-radius: 100px;
}
.cid-qY8uApgKHA .builderCard .card_cont {
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidd;
  -moz-backface-visibility: visible;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.cid-qY8uApgKHA DIV {
  text-align: center;
  color: #ffffff;
}
.cid-qY8uApgKHA H4 {
  text-align: center;
  color: #41ecc6;
}
.cid-qY8uApgKHA P {
  text-align: center;
}
.cid-qY94hKpavD {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #fafafa;
}
.cid-qY94hKpavD h3 {
  text-align: center;
  font-weight: 300;
}
.cid-qY94hKpavD .progress {
  width: 100%;
}
.cid-qY94hKpavD .title-wrap {
  display: flex;
  justify-content: space-between;
}
.cid-qY94hKpavD progress {
  height: 8px;
}
.cid-qY94hKpavD .progressbar-number {
  display: inline-block;
}
.cid-qY94hKpavD .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-qY94hKpavD .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qY94hKpavD .mbr-section-subtitle {
  color: #767676;
}
.cid-qY94hKpavD .section-content-title {
  font-weight: 500;
}
.cid-qY94hKpavD .progress_value {
  position: relative;
}
.cid-qY94hKpavD .progress1 .progressbar-number:before,
.cid-qY94hKpavD .progress2 .progressbar-number:before,
.cid-qY94hKpavD .progress3 .progressbar-number:before,
.cid-qY94hKpavD .progress4 .progressbar-number:before,
.cid-qY94hKpavD .progress5 .progressbar-number:before {
  position: absolute;
  right: 15px;
  top: 0;
}
.cid-qY94hKpavD progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qY94hKpavD progress::-webkit-progress-value {
  background: #149dcc;
}
.cid-qY94hKpavD progress[value]::-moz-progress-bar {
  background: #149dcc;
}
.cid-qY94hKpavD progress::-ms-fill {
  background: #149dcc;
}
.cid-qY94hKpavD .progress1 .progressbar-number:before {
  content: '100';
}
.cid-qY94hKpavD .progress2 .progressbar-number:before {
  content: '90';
}
.cid-qY94hKpavD .progress3 .progressbar-number:before {
  content: '80';
}
.cid-qY94hKpavD .progress4 .progressbar-number:before {
  content: '70';
}
.cid-qY94hKpavD .progress5 .progressbar-number:before {
  content: '60';
}
@media (min-width: 768px) {
  .cid-qY94hKpavD .text-elements {
    padding-right: 3rem;
  }
  .cid-qY94hKpavD .progress_elements {
    padding-left: 3rem;
  }
}
.cid-qY94jpWw7i {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #fafafa;
}
.cid-qY94jpWw7i h3 {
  text-align: center;
  font-weight: 300;
}
.cid-qY94jpWw7i .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-qY94jpWw7i .mbr-section-subtitle {
  color: #767676;
}
.cid-qY94jpWw7i .card {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  word-wrap: break-word;
}
.cid-qY94jpWw7i ellipse {
  stroke: rgba(206, 206, 206, 0.4);
}
.cid-qY94jpWw7i path {
  stroke: #149dcc;
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-qY94jpWw7i .card {
    -webkit-flex-basis: 33%;
    flex-basis: 33%;
  }
}
.cid-qY94nDCS8G {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fafafa;
}
.cid-qY94nDCS8G .progress {
  width: 100%;
}
.cid-qY94nDCS8G progress {
  height: 8px;
}
.cid-qY94nDCS8G h3 {
  text-align: center;
  font-weight: 300;
}
.cid-qY94nDCS8G .mbr-section-subtitle {
  color: #767676;
}
.cid-qY94nDCS8G .progress_value {
  position: relative;
}
.cid-qY94nDCS8G .progress_elements {
  margin: 0 auto;
}
.cid-qY94nDCS8G .title-wrap {
  display: flex;
  justify-content: space-between;
}
.cid-qY94nDCS8G .progress1 .progressbar-number:before,
.cid-qY94nDCS8G .progress2 .progressbar-number:before,
.cid-qY94nDCS8G .progress3 .progressbar-number:before,
.cid-qY94nDCS8G .progress4 .progressbar-number:before {
  position: absolute;
  right: 15px;
  top: 0;
}
.cid-qY94nDCS8G progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qY94nDCS8G progress::-webkit-progress-value {
  background: #149dcc;
}
.cid-qY94nDCS8G progress[value]::-moz-progress-bar {
  background: #149dcc;
}
.cid-qY94nDCS8G progress::-ms-fill {
  background: #149dcc;
}
.cid-qY94nDCS8G .progress1 .progressbar-number:before {
  content: '70';
}
.cid-qY94nDCS8G .progress2 .progressbar-number:before {
  content: '80';
}
.cid-qY94nDCS8G .progress3 .progressbar-number:before {
  content: '90';
}
.cid-qY94nDCS8G .progress4 .progressbar-number:before {
  content: '100';
}
.cid-qY94nDCS8G .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-qY94nDCS8G .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-qY94nDCS8G .progress_value span {
  padding-left: 30px;
}
.cid-qY935gKbN9 {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qY935gKbN9 .mbr-section-subtitle {
  color: #767676;
}
.cid-qY935gKbN9 H2 {
  color: #41ecc6;
}
.cid-qY8tktiwAa {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qY8tktiwAa .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qY8tktiwAa .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qY8tktiwAa .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qY8tktiwAa .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qY8tktiwAa .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #c1c1c1;
  background: linear-gradient(to left, #c1c1c1, #45505b) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qY8tktiwAa .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-qY8tktiwAa .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-qY8tktiwAa .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-qY8tktiwAa .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #c1c1c1 !important;
  background: linear-gradient(to left, #c1c1c1, #45505b) !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-qY7F8Cem1h {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qY7F8Cem1h .mbr-section-subtitle {
  color: #767676;
}
.cid-qY7F8Cem1h H2 {
  color: #41ecc6;
}
.cid-qY7F8Cem1h .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-qY7ETrhx3d {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #062b3a;
}
@media (min-width: 992px) {
  .cid-qY7ETrhx3d .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-qY7ETrhx3d .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-qY7ETrhx3d .mbr-text {
  color: #ffffff;
}
.cid-qY7EUhA7EZ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #062b3a;
}
@media (min-width: 992px) {
  .cid-qY7EUhA7EZ .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 992px) {
  .cid-qY7EUhA7EZ .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-qY7EUhA7EZ .mbr-text {
  color: #ffffff;
}
.cid-qY5snB1pgl {
  padding-top: 45px;
  padding-bottom: 60px;
}
.cid-qY5snB1pgl .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-qY5snB1pgl .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #ffffff;
  margin-left: 2rem;
}
.cid-qY5snB1pgl .timeline-text-content p {
  margin-bottom: 0;
}
.cid-qY5snB1pgl .time-line-date-content {
  margin-right: 2rem;
}
.cid-qY5snB1pgl .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #ffffff;
  float: right;
}
.cid-qY5snB1pgl .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-qY5snB1pgl .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-qY5snB1pgl .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-qY5snB1pgl .mbr-timeline-date,
.cid-qY5snB1pgl .timeline-text-content {
  transition: all .4s;
}
.cid-qY5snB1pgl .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-qY5snB1pgl .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-qY5snB1pgl .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-qY5snB1pgl .reverse .time-line-date-content p {
  float: left;
}
.cid-qY5snB1pgl .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #ffffff;
  top: 20px;
  margin-left: -10px;
}
.cid-qY5snB1pgl .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #ffffff;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-qY5snB1pgl .iconBackground {
    left: 0 !important;
  }
  .cid-qY5snB1pgl .separline:before {
    left: 0!important;
  }
  .cid-qY5snB1pgl .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-qY5snB1pgl .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-qY5snB1pgl .time-line-date-content p {
    float: left !important;
  }
  .cid-qY5snB1pgl .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-qY5snB1pgl .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-qY5snB1pgl .mbr-section-title {
  color: #41ecc6;
}
.cid-qW050Rol9f {
  background-image: url("../../../assets/images/02.jpg");
}
.cid-qW050Rol9f .form-container {
  transition: all .2s;
  border: 1px solid #ffffff;
  padding: 1rem;
}
.cid-qW050Rol9f .input-group-btn {
  justify-content: center;
}
@media (min-width: 768px) {
  .cid-qW050Rol9f .content-container {
    padding-right: 5rem;
  }
}
.cid-qW050Uwd5N {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qW050Uwd5N .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qW050Uwd5N .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qW050Uwd5N .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qW050Uwd5N .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qW050Uwd5N .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qW050Uwd5N .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-qW050Uwd5N .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-qW050Uwd5N .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-qW050Uwd5N .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-qW050W3k3v {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-qW050W3k3v h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qW050W3k3v p {
  color: #767676;
  text-align: left;
}
.cid-qW050W3k3v .card-img {
  text-align: left;
  padding-right: 30px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: auto;
}
.cid-qW050W3k3v .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qW050W3k3v .card-title {
  margin-bottom: 0;
}
.cid-qW050W3k3v .mbr-crt-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-qW050W3k3v .media {
  margin: initial;
  align-items: center;
}
@media (max-width: 300px) {
  .cid-qW050W3k3v .card-img span {
    font-size: 40px !important;
  }
}
.cid-qW050Z4olc {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qW050Z4olc .mbr-text,
.cid-qW050Z4olc blockquote {
  color: #767676;
}
